/*** FONTS ***/

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/*** VARIABLES & THEMES ***/

:root {
  font-size: 16px;
  --primary-color: #cf0f0f;
  --primary-color-contrast: #ffffff;
  --field-background-color: #000;
}

.light-theme {
  --page-background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 65%,
    rgba(255, 255, 255, 0.75) 100%
  );
  --header-background-color: #e3e3e3;
  --highlight-color: #000000;
  --featured-font-family: "Archivo", sans-serif;
  --character-top-image-src: url("../images/characters/kids-on-the-bike.svg");
  --character-top-image-color: #ffffff;
  --character-bottom-image-src: url("../images/characters/inverted-world-monster.svg");
  --character-bottom-image-color: #e5e5e5;
  --background-lamp-image: url("../images/backgrounds/lamps.png");
  --footer-background-color: #b5bbbf;
}

.dark-theme {
  --page-background: linear-gradient(
    180deg,
    #050000 0%,
    #130404 65%,
    rgba(19, 1, 1, 0.75) 100%
  );
  --header-background-color: #220f0f;
  --highlight-color: #ffffff;
  --featured-font-family: "Rubik Glitch", sans-serif;
  --character-bottom-image-src: url("../images/characters/kids-on-the-bike.svg");
  --character-bottom-image-color: rgba(255, 255, 255, 0.1);
  --character-top-image-src: url("../images/characters/inverted-world-monster.svg");
  --character-top-image-color: #000;
  --background-lamp-image: url("../images/backgrounds/lamps-inverted.png");
  --footer-background-color: #000;
}

/*** RESET ***/

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  transition: 1s;
}

body {
  background: var(--page-background);
  color: var(--highlight-color);
  position: relative;
  text-align: center;
}

button {
  padding: 1rem 1.5rem;
  background: none;
  border: 0.2rem solid;
  text-transform: uppercase;
  font-family: var(--featured-font-family);
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 900;
}

p {
  font-family: "Libre Baskerville" serif;
  font-size: 1.3rem;
  color: var(--highlight-color);
}

h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-family: var(--featured-font-family);
  font-size: 3rem;
}

/*** HEADER ***/

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 1rem;
  text-align: center;
  background: var(--header-background-color);
}

header::before {
  content: "";
  background: url(../images/banner/florest.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  filter: saturate(0);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

header img {
  width: 100%;
  margin-top: 3.5rem;
}

header p {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1rem;
}

.top-characters {
  background: var(--character-top-image-color);
  mask: var(--character-top-image-src) bottom/100% no-repeat;
  -webkit-mask: var(--character-top-image-src) bottom/100% no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header button {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

header button:hover {
  background: var(--primary-color);
  color: var(--primary-color-contrast);
}

header img,
header p,
header button {
  position: relative;
  z-index: 1;
}

/*** MAIN CONTENT ***/

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main::before {
  content: "";
  background: var(--page-background) no-repeat, url(../images/backgrounds/florest.png) no-repeat;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bottom-characters {
  background: var(--character-bottom-image-color);
  mask: var(--character-bottom-image-src) bottom/100% no-repeat;
  -webkit-mask: var(--character-bottom-image-src) bottom/100% no-repeat;
  width: 100%;
  height: 25vh;
  position: relative;
  transform: rotateX(180deg);
}

section {
  padding: 2rem;
  margin-bottom: 2rem;
}

section.stranger-things-trailer {
  padding: 0;
  margin-top: 2rem;
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section p {
  margin-bottom: 2rem;
}

.trailer-section-content {
  padding: 2rem;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0.2rem solid;
  border-image: linear-gradient(var(--primary-color), var(--primary-color-contrast));
  border-image-slice: 10;
  box-shadow: var(--primary-color) -10px 10px;
}

.video-frame {
  width: 90%;
  height: 25vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery ul li {
  height: 25rem;
  list-style: none;
  list-style-type: none;
  margin-bottom: 2rem;
  padding: 1.3rem;
  background-color: var(--highlight-color);
}

.gallery img {
  padding: 0.7rem;
  border: 0.3rem solid var(--primary-color);
}

.stranger-things-gallery {
  background: var(--background-lamp-image);
  background-repeat: no-repeat;
  background-position: 20% 150%;
}

.title-form {
  font-size: 2rem;
  color: var(--highlight-color);
}

.title-form span {
  color: var(--primary-color);
}

.form form {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
  box-shadow: var(--highlight-color) 0.8rem 0.8rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form form label,
.form form input,
.form form textarea {
  font-size: 1.1rem;
  color: var(--primary-color-contrast);
  font-family: "Libre Baskerville", serif;
}

.form form label {
  margin-bottom: 0.4rem;
}

.form form input,
.form form textarea {
  margin-bottom: 1rem;
  background: var(--field-background-color);
  padding: 0.5rem;
  line-height: 2rem;
  border: 0.2rem solid var(--primary-color-contrast);
  outline: none;
}

.form form input:focus-visible,
.form form textarea:focus-visible {
  outline: none;
  border-color: transparent;
}

.form form textarea {
  max-width: 100%;
  margin-bottom: 2rem;
}

.form form input {
  height: 3rem;
}

.form form button {
  background: var(--field-background-color);
  color: var(--primary-color-contrast);
  border: none;
}

.form form button:hover {
  background: var(--primary-color-contrast);
  color: var(--field-background-color);
}

/*** FOOTER ***/

footer {
  background: var(--footer-background-color);
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

footer img,
footer p {
  z-index: 2;
  position: relative;
}

footer img {
  margin-top: 2rem;
}

footer::before,
footer::after {
  content: "";
  background: url(../images/footer/tape.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

footer::before {
  bottom: 10%;
  left: -70%;
  transform: rotate(15deg);
}

footer::after {
  top: 30%;
  left: 75%;
  transform: rotate(-15deg);
}

/*** AUDIO ***/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

#music-toggle {
  position: fixed;
  top:0.7rem;
  right: 0.7rem;
  padding: 0.5rem;
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  outline: none;
  z-index: 10;
}

#music-toggle:hover {
  background-color: var(--highlight-color);
  color: var(--header-background-color);
  border-color: transparent;
}

/*** CHANGE THEME ***/

.dark-theme .invert-element {
  transform: rotate(180deg) scaleX(-1);
}

.dark-theme footer::after,
.dark-theme footer::before {
  filter: opacity(0.2);
}

/*** RESPONSIVE ***/

@media screen and (min-width: 600px) {
  header img {
    max-width: 500px;
  }

  header p {
    max-width: 650px;
    margin: 2rem auto;
  }

  .top-characters,
  .bottom-characters {
    max-width: 50%;
  }

  .top-characters {
    left: 50%;
    transform: translateX(-50%);
  }

  .bottom-characters {
    min-height: 350px;
  }

  .inverted-world,
  .stranger-things-trailer {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }

  .inverted-world-text,
  .trailer-section-content {
    flex-basis: 50%;
  }

  .video-frame {
    width: 70%;
    min-height: 25rem;
  }

  .stranger-things-gallery {
    max-width: 1200px;
    text-align: left;
    margin-top: 2rem;
    background-position: 180% 37%;
  }

  .stranger-things-gallery h2 {
    max-width: 60%;
  }

  .gallery ul {
    display: flex;
    gap: 2rem;
  }

  .gallery ul li {
    height: 18rem;
    width: 18rem;
  }
}